body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

table {
    width: 100%;
    height: 100vh;
    
    border-collapse: collapse;
    table-layout: fixed; 
}

td {
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    font-family: sans-serif;
    font-size: 2vw; 
}